<!DOCTYPE html>
<html>
  <head>
    <title>GitKitty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <nav>
    <ul>
      <li>Github</li>
      <li>Ameritrade</li>
      <li>Interactive Brokers</li>
      <li>Staging</li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
